body {
    font-family:monospace;
    background-color: white;
    color:#333;
    margin: 0;
    padding: 20px; 
}

n1 {
    text-align: center;
    margin-bottom: 40px;
    color: black;
    text-shadow:
       -1px -1px 0 white,
       -1px -1px 0 white,
       -1px -1px 0 white,
       -1px -1px 0 white;
}

.calendar-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.month {
    background-color: white;
    border: 2px;
    padding: 10px;
    margin-left: 400px;
    margin-right: 400px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 25px;
}

n2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

n3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

n4 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

n5 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

n6 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

n7 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

n8 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

n9 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}
    
n10 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

n11 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

n12 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

n13 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse:separate;
    table-layout: fixed;
}

th, td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  background-color: lightgray;
}

th {
  background-color: #f5f5f5;

}
